div{
    display: block;
    unicode-bidi: isolate;
}
.cs{
    width: 170px;
    float: left;
}
.cs_first{
    padding: 10px 0 7px 5px;
    margin: 0 0 0 3px;
    text-align: left;
    color: orange;
    font: bold 15px;
    letter-spacing: -1px;
}
label{
    cursor: pointer;
}
.hidden{
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font: 0 / 0 Arial;
}
button.btn_lg{
    display: -webkit-inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    min-width: 200px;
    height: 50px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 700;
}
button.btn_light_gray{
    border:1px solid #767676;
    transition: ease-out;
}
button.btn_primary{
    border: 1px solid #5055b1;
    transition: ease-out;
}
.btn_wrap.page_bottom{
    margin-top: 40px;
}
.btn_wrap{
    display: block;
    font-size: 0;
    text-align: center;
}

body {
 font-family: "Mulish", sans-serif;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

main {
 width: 40rem;
 box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
 margin: 0 auto;
 height: 45rem;
 border-radius: 2rem;
 padding: 2rem;
}

h1 {
 text-align: center;
 font-size: 3rem;
 padding: 1rem 2rem;
}

form {
 margin: 3em 0;
 display: flex;
 flex-direction: column;
 row-gap: 2rem;
}

.input__container {
 display: flex;
 flex-direction: column;
 row-gap: 0.5rem;
}

.input__container label { font-size: 1.6rem; }

.input__container input,
textarea {
 padding: 1rem 2rem;
 border-radius: 5px;
 border: 1px solid #555;
 resize: none;
}

button {
 align-self: flex-start;
 padding: 1rem 2rem;
 border-radius: 5px;
 border: none;
 background: #333;
 color: #fff;
 cursor: pointer;
 display: block;
 margin: auto;
 width: 150px;
}
button:active {
    text-align: center;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    outline: 1.5px rgb(27, 76, 155) solid;
    padding-left: 10px;
    }
tb{
    margin: auto;
        width: 700px;
        border-radius: 5px;
        border-collapse: collapse;
        border-top: none;
}