<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostMapper">
    <!-- 결과 매핑, BaseTime 필드와 UserDTO 포함 -->
    <resultMap id="PostWithUserResultMap" type="com.kh.feed.DTO.PostDTO">
        <id property="postId" column="post_id" />
        <result property="postImg" column="post_img" />
        <result property="postTitle" column="post_title" />
        <result property="postSubtitle" column="post_subtitle" />
        <result property="postContent" column="post_content" />
        <result property="postViews" column="post_views" />
        <result property="postLikes" column="post_likes" />
        <result property="postComments" column="post_comments" />
        <result property="createdAt" column="post_created_date" />
        <result property="updatedAt" column="Post_updated_date" />
        <association property="user" javaType="com.kh.feed.DTO.UserDTO">
            <id property="userId" column="user_id" />
            <result property="userImg" column="user_img" />
            <result property="userName" column="user_name" />
            <result property="userToUser" column="user_to_user" />
            <result property="userFromUser" column="user_from_user" />
        </association>
        <!-- <collection property="hashtags" ofType="java.lang.String">
            <result column="hashtag_name" />
        </collection> -->
    </resultMap>

    <!-- 포스트 목록 -->
    <select id="getAllPosts" resultMap="PostWithUserResultMap">
        SELECT 
            p.*, 
            u.user_img,
            u.user_name,
            u.user_touser,
            u.user_fromuser
        FROM Posts p
        JOIN Users u ON p.user_id = u.user_id
        ORDER BY p.post_created_date DESC
    </select>

    <!-- 포스트 작성 -->
    <insert id="createPost" parameterType="com.kh.feed.DTO.PostDTO">
        INSERT INTO Posts
        (post_id, post_img, post_title, post_subtitle, post_content,
         post_views, post_likes, post_comments, user_id, post_created_date, post_updated_date)
        VALUES
        (POST_ID_SEQ.NEXTVAL, #{postImg}, #{postTitle}, #{postSubtitle},
         #{postContent}, #{postViews}, #{postLikes}, #{postComments},
         #{userId}, #{createdAt}, #{updatedAt})
    </insert>

    <!-- 좋아요 증가 -->
    <update id="increasePostLikes" parameterType="int">
        UPDATE Posts SET post_likes = post_likes + 1 WHERE post_id = #{postId}
    </update>

    <!-- 좋아요 감소 -->
    <update id="decreasePostLikes" parameterType="int">
        UPDATE Posts SET post_likes = post_likes - 1 WHERE post_id = #{postId}
    </update>

</mapper>
