<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>		
		<typeAlias alias="UserDTO" type="com.kh.feed.DTO.UserDTO"/>
		<typeAlias alias="PostDTO" type="com.kh.feed.DTO.PostDTO"/>
		<typeAlias alias="CommentDTO" type="com.kh.feed.DTO.CommentDTO"/>
	</typeAliases>
    
</configuration>