@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  max-width: none !important;
  --bs-gutter-x: 3rem;
  width: 1200px;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  color: #404040;
}

.nav-link:hover {
  font-weight: 700;
  color: #404040;
}

.btn {
  font-size: 0.9rem;
  line-height: 1.4;
}

.btn-primary {
  --bs-btn-bg: #ff7366;
  --bs-btn-border-color: #ff7366;
  --bs-btn-hover-bg: #ff7366;
  --bs-btn-hover-border-color: #ff7366;
  --bs-btn-active-bg: #404040;
  --bs-btn-active-border-color: #404040;
}

.navbar-toggler {
  --bs-navbar-toggler-padding-y: 0.75rem;
  border: none;
}

.navbar-toggler-icon {
  width: 1rem;
  height: 1rem;
  background-image: url(../img/toggler.svg);
}

.offcanvas {
  bottom: 30;
}

.offcanvas.offcanvas-start {
  top: 106;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.dropdown-divider {
  border-top: 1px solid #404040;
}

a.nav-link.p-0 {
  font-size: 16px;
}

.nav-underline .nav-link {
  border-bottom: 0.25rem solid #ff7366;
  font-size: 18px;
}

.offcanvas-backdrop.show {
  opacity: 0.3;
}

.offcanvas-backdrop {
  top: 106;
}

.carousel-indicators {
  left: 55%;
  margin-bottom: 2rem;
}

.progress {
  --bs-progress-bar-bg: #ff7366;
  height: 0.3rem;
  width: 10rem;
}

.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  text-indent: 0;
  border: none;
  line-height: 20px;
  border-radius: 0.25rem;
}

.carousel-item {
  height: 300px;
}

.carousel-caption {
  bottom: 30%;
  left: 55%;
}

.carousel-caption h5 {
  line-height: 1.4;
}

.btn-secondary {
  --bs-btn-color: #404040;
  --bs-btn-bg: white;
  --bs-btn-border-color: #ff7366;
  --bs-btn-hover-color: #404040;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: #ff7366;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #ff7366;
  --bs-btn-active-border-color: #ff7366;
}

.text-body-emphasis {
  --bs-emphasis-color: #404040;
}

.bi {
  fill: currentColor;
}

footer .nav-link {
  padding-left: 0;
  padding-top: 0;
  font-size: 16px;
}

footer p {
  font-size: 0.875rem;
}
